[secrets]
wifi_ssid = "YOUR_WIFI_SSID"
wifi_password = "YOUR_WIFI_PASSWORD"

mqtt_server = "MQTT_SERVER_ADDRESS"
mqtt_port = 1883
mqtt_anonymous = 1
mqtt_user = "MQTT_USERNAME_IF_NOT_ANONYMOUS"
mqtt_password = "MQTT_PASSWORD_IF_NOT_ANONYMOUS"